@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');

.create {
  display: flexbox;
  left: 0%;
  top: 20%;
  background-color: #f9f9f9;
}
.create h2 {
  display: flex;
  font-family: Public Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  margin-left: 10%;
  color: #2d314e;
}
.create h4 {
  display: flex;
  font-family: Public Sans;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  margin-left: 10%;
  border-radius: nullpx;
  color: #99989d;
}
.form {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-left: 25%;
  padding: 2%;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  align-items: center;
  font-family: Public Sans;

  border-radius: 41px;
  align-items: center;
  align-content: center;
}
.form label {
  display: block;
  color: #2d314e;
}
.form input {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}
.form textarea {
  width: 100%;
  height: 20vh;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

.buttonSubmit {
  background: linear-gradient(90deg, #31cf75 0%, #2dbbc6 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 5vh;
  color: white;
  border: transparent;
  border-radius: 47px;
  cursor: pointer;
}

.error{
  background-color: #8af3b8;
  color: white;
  width: 15vh;
  height: 5vh;
  border-radius: 5px;
  margin-left: 5%;
  margin-bottom: 0%;
  text-align:center;
  align-items: center;
align-content: center;  
}

.allArticles {
  display: grid;
  font-size: 0.8em;
}

.previousArticles h2 {
  display: flex;
  font-family: Public Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  margin-left: 10%;
  color: #2d314e;
}
.previousArticles h4 {
  display: flex;
  font-family: Public Sans;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  margin-left: 10%;
  border-radius: nullpx;
  color: #99989d;
}

.previous {
  display: grid;
  grid-template-columns: 0.3fr repeat(2, 0.5fr) 0.4fr 0.1fr;
  text-align: start;
  align-items: flex-start;
  font-family: Public Sans;
  border: 0.5px solid #99989d;
}
.editArticle {
  color: #84e1a7;
  font-size: 0.8em;
  font-weight: 900;
  cursor: pointer;
}

.alllatest {
  display: inline-flex;
}


.new {
  background: linear-gradient(90deg, #31cf75 0%, #2dbbc6 100%);
  display: inline;
  width: 165px;
  height: 45px;
  color: white;
  border-color: transparent;
  margin-left: 80%;
  margin-top: 1vh;
  border-radius: 89px;
}

.latest_articles {
  display: inline-table;
  width: 30vh;
  height: 30vh;
  padding: .5vh;
  border-radius: 2vh;
  margin-top: 5vh;
  margin-left: 10%;
  font-family: Public sans;
  
}

.one img {
  width: 30vh;
  height: 30vh;
  border-radius: 3vh;
}
.pageNumbers{
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 3vh;
  padding-right: 3vh;

}

.pageNumbers button{
  width: 5vh;
  padding: 1vh;
  margin: 3vh;
  border-radius: 5px;
  color: #2d314e;
  background-color: white;
  border-radius: 2px 2px 3px grey;
  cursor: pointer;
}
